.csm-backto-chats-1 {
    margin-bottom: 30px;

    a, button {
        color: var(--primary-button-bg);
        text-decoration: none;
        padding: 0;
        background-color: transparent;
        border: 0;
    }
}

.csm-dataTable-1 {
    border: 1px solid #d1d5db;
    
    table {
        thead {
            tr {
                th {
                    background-color: #eeeeee;
                    padding: 15px 10px;
                    border-right: 2px solid #ffffff;
                    font-weight: 500;
                    border-bottom: 0px;
                    
                    &:last-child {
                        border-right: 0px;
                    }
                    
                    .p-column-title {
                        width: 100%;
                    }
                }
            }
        }
        
        tbody {
            tr {
                td {
                    padding: 15px 10px;
                    border-bottom: 2px solid #dedede;
                }

                &:last-child {
                    td {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}

.create-agent-button {
    text-decoration: none;
    font-weight: 600;
}