# APIM/OpenAI
{{apimPrivateIp}} {{apimFqdn}}

# App Configuration
{{appConfigPrivateIp}} {{appConfigFqdn}}

# Cognitive Search
{{cognitiveSearchPrivateIp}} {{cognitiveSearchFqdn}}

# Content Safety
{{contentSafetyPrivateIp}} {{contentSafetyFqdn}}

# Cosmos
{{cosmosPrivateIp}} {{cosmosFqdn}}